header {
    background-color: rgb(3, 3, 97);
}
span {
    margin: 5px;
}

div {
    margin: 5px;
    padding: 5px;

}

#search-div {
    float:left;
    width: 300px;
    height: 700px;
}

button {
    display: block;
    
}

#todays-forecast {
    border: 1px solid black;
    display: inline-block;
    width: 1000px;
}